{:source-paths ["src/main"]
 :dev-http {8081 "public"}
 :nrepl {:port 55555}
 :dependencies           [[reagent "1.0.0-alpha2"]]
 :builds {:app {:target     :browser
                :output-dir "public/scripts/"
                :modules    {:core {:init-fn calculator.app/run}}
                :devtools   {:after-load calculator.app/reload}}}}
